<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://vitneboksenfunc20240113125528.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6a1dd9ac-c675-4581-9352-574aaaf06df1/resourcegroups/Vitneboksen/providers/Microsoft.Web/sites/Vitneboksenfunc20240113125528</ResourceId>
    <UserName>$Vitneboksenfunc20240113125528</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://vitneboksenfunc20240113125528.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>