@keyframes blinker {
  50% {
    opacity: 0;
  }
}
* {
  color: rgb(255, 255, 255);
  text-align: center;
}
button {
  background-color: #fdb542;
}
html {
  background-color: #1c323a;
}

div {
  border-radius: 6px;
}

input[type="number"] {
  color: black;
  width: 3rem;
  text-align: left;
}
input[type="text"] {
  color: black;
  width: 10rem;
  text-align: left;
}

.settings label {
  display: grid;
  grid-template-columns: 3fr 1fr;
  text-align: left;
  justify-content: space-between;
}
