@keyframes blinker {
  50% {
    opacity: 0;
  }
}
* {
  color: rgb(255, 255, 255);
}
html {
  background-color: #1c323a;
}

div {
  border-radius: 6px;
}

input,
button {
  color: black;
}
button,
.button {
  cursor: pointer;
  border-radius: 3px;
  border: none;
  color: rgb(0, 0, 0);
  outline: none;
  background-color: #fdb542;
  padding: 2% 4%;
  text-decoration: none;
}
.red {
  background: #b85b57;
  color: white;
}
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

ol li {
  margin-top: 0.5rem;
}
