<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/6a1dd9ac-c675-4581-9352-574aaaf06df1/resourcegroups/Vitneboksen/providers/Microsoft.Web/sites/VinteboksenApiLinux</ResourceId>
    <ResourceGroup>Vitneboksen</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://vinteboksenapilinux.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c54db174-f64f-4bcb-b8fb-735beeb04185</ProjectGuid>
    <PublishUrl>https://vinteboksenapilinux.scm.azurewebsites.net/</PublishUrl>
    <UserName>$VinteboksenApiLinux</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>