@keyframes blinker {
  50% {
    opacity: 0;
  }
}
* {
  color: rgb(255, 255, 255);
  text-align: center;
}
button {
  background-color: #fdb542;
}
html {
  background-color: #1c323a;
}

div{
  border-radius: 6px;
}
input{
  color: black;
  width: 3rem;
  text-align: left;
  align-self: flex-end;
}

label{
  display: block;
  justify-content: space-between;
}
